@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */
/* @font-face {
    font-family:'NanumGothicEco';
    src: url('/fonts/NanumGothicEco.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family:'NanumGothicEcoBold';
    src: url('/fonts/NanumGothicEcoBold.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family:'NanumGothicEcoExtraBold';
    src: url('/fonts/NanumGothicEcoExtraBold.ttf') format('truetype');
    font-weight: 500;
} */
div#__nuxt {
    font-family: 'NanumSquare', sans-serif !important;
}

/* font 사용으로 인한 여백 제거 */
/* .text-xs {height: 12px;} */
/* .text-sm {height: 14px;} */
/* .text-base {height: 16px;} */
/* .text-lg {height: 18px;} */
/* .text-xl {height: 20px;} */
/* .text-2xl {height: 24px;} */
/* .text-3xl {height: 30px;} */
/* .text-4xl {height: 36px;} */
/* .text-5xl {height: 48px;} */
/* .text-6xl {height: 60px;} */
/* .text-7xl {height: 72px;} */
/* .text-8xl {height: 96px;} */
/* .text-9xl {height: 128px;} */

/* .ScrollBar */
.scrollBar::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
    height:8px;
    opacity: 0.8;
}

.scrollBar::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    width: 5%;
    background: gray; /* 스크롤바의 색상 */
    opacity: 0.8;
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.128);  /*스크롤바 뒷 배경 색상*/
    opacity: 0.8;
}


/* Table */

/* hover animation */
.hover-change-animation {
    transition: color 0.3s;
}
    
/* dialog height */
.calendar-height {
    height: calc(100% + 272px) !important;
}

.shadow-right {
    box-shadow: 2px 9px 10px -1px #888;
}
/*Layouts*/
/* 
div#__nuxt {
    @apply h-full;
}

.btn {
    @apply transition py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-black focus:outline-none;
}

.btn-sm {
    @apply transition py-1 px-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-black focus:outline-none;
}

.btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 text-white;
}

.btn-secondary {
    @apply bg-white border-primary-500 text-primary-500 hover:bg-primary-500 hover:text-primary-100 ;
    @apply focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
}

.btn-tertiary {
    @apply bg-white border-gray-500 text-gray-500 hover:border-gray-500 hover:bg-gray-500 hover:text-gray-100 ;
    @apply focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
}

.d-btn-primary {
    @apply text-danger-100 bg-danger-600 hover:bg-danger-700 hover:text-danger-200;
    @apply focus:ring-2 focus:ring-offset-2 focus:ring-danger-500;
}

.d-btn-secondary {
    @apply bg-white border-danger-500 text-danger-500  hover:bg-danger-500 hover:text-danger-100 ;
    @apply focus:ring-2 focus:ring-offset-2 focus:ring-danger-500;
}

.d-btn-tertiary {
    @apply underline shadow-none bg-white border-0 text-gray-600 hover:text-danger-500;
    @apply focus:ring-2 focus:ring-offset-2 focus:ring-danger-500;
}

.nav {
    @apply px-3 py-2 rounded-md text-sm font-medium text-white hover:bg-primary-500 hover:bg-opacity-75 hover:text-primary-100;

}

.nav.active {
    @apply bg-primary-700 hover:bg-primary-700 hover:bg-opacity-100;
}

.nav.nav-user {
    @apply block px-4 py-2 text-sm text-gray-700;
}

.nav.nav-user.active {
    @apply bg-gray-100
}

.nav-mobile {
    @apply block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary-500 hover:bg-opacity-75 hover:text-primary-100;
}

.nav-mobile.active {
    @apply bg-primary-700 hover:bg-primary-700 hover:bg-opacity-100;
}

.nav-mobile.with-icon {
    @apply flex items-center gap-2;
}

h1 {
    @apply text-3xl font-bold text-gray-900;
}

h2 {
    @apply text-2xl font-bold text-gray-900;
}

h3 {
    @apply text-xl font-bold text-gray-900;
}

h4 {
    @apply text-lg font-bold text-gray-900;
}

h5 {
    @apply text-base font-bold text-gray-900;
}

.card {
    @apply bg-white shadow-md rounded-md;
}

.card .card-content {
    @apply p-4;
} */